body {
    background: #f0f0f0;
    text-align: center;
    font-size: 30vmax;
    overflow-x: hidden;
    cursor: pointer;
}

h1 {
  margin-top: 20px;
  color: #b30000;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 999;
}

li a:hover{
    color: rgb(99, 99, 130);
}

li a{
    width: 100%;
    padding: 10vmax 0 10vmax 0;
    display: block;
}

.today{
    background-image: url(stone.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}


.snowflake {
  color: #e0e0e0;
  font-size: 5vmax;
  font-style: italic;
  pointer-events: none;
  touch-action: none;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}
.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:14s,8s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:14s,8s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:7s,.5s;animation-delay:7s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:12s,3s;animation-delay:12s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:9s,2s;animation-delay:9s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:5s,1.5s;animation-delay:5s,1.5s}
