body {
    background: #f0f0f0;
    text-align: center;
    font-size: 30vmax;
    overflow-x: hidden;
}

h1 {
  margin-top: 20px;
  color: #b30000;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100vw;
}

li{
    width: 100%;
}

li a{
    width: 100%;
    padding: 10vmax 0 10vmax 0;
    display: block;
}

.today{
    background-image: url(stone.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}
